

// icon pack 
// <i class="fa-brands fa-github"></i>
// <i class="fa-brands fa-linkedin"></i>
// <i class="fa-brands fa-instagram"></i>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: centaur;
    font-size: 16px;
    word-wrap: break-word;
    
    
}

#loading{
    position: fixed;
    width: 100%;
    font-size: 1.3em;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #fff url(/assests/swing-thumb.gif);
    z-index: 1000;
    background-position: center;
    background-repeat: no-repeat;
}


body{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }


// variable
$color-primary:#000000;
$color-secondary:#FFFFFF;
$color-ternary:#83A1E9;
$color-text:#020000;



#menu {
    z-index: 2;
  
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
   
  }

@font-face{
    font-family: centaur;
    src: url(../assests/Centaur-Font/CENTAUR.TTF);
}

@font-face {
    font-family: handwritten;
    src: url(/assests/helloketta.ttf);
}

@font-face {
    font-family: handwritten-one;
    src: url(/assests/Bulgatti.ttf);
}

@font-face {
    font-family: smartfont;
    src: url(/assests/ScienceFair.otf);
}

@font-face {
    font-family: smartsmlim;
    src: url(/assests/Slim-AAv6.ttf);
}


// banner start

.banner{
    position:relative;   
    height: 90vh;
    width: 100%;
    background-color: $color-primary;
}


.bar {
    height: 6px;
    width: 100%;
    background-color: $color-secondary;
    display: block;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: $color-text;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .nav li a:hover {
    font-weight: bold;
   letter-spacing: 3px;
   transform: scale(1.1);
    color: $color-secondary;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 10;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: #83A1E9;
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }


  .banner-text{
     position: relative;
     color: $color-secondary;
     line-height: 35px;
     top: 40%;
     left:10%;
     
    
  }

  .banner-text h1{
      font-size: 3em;
      letter-spacing: 6px;
      line-height: 50px; 
    //   text-shadow: 1px 2px 3px $color-ternary;
    //   font-family:  handwritten-one;
    //   word-spacing: 3px; 
      font-family: smartfont;
    // font-family: handwritten;
    
  }



  .banner-text p{
      font-size: .5em;
      font-weight: lighter;
      letter-spacing: 5px;
      margin: 20px 0px;
      font-family: smartsmlim;
    //   padding-right: 10px;
  }

  .banner-text .icons{
    letter-spacing: 5px;
    transition: all 0.5s ease-in-out;
  }
.icons a{
    text-decoration: none;
    color: $color-secondary;
}

  .icons a i:hover{
      color: $color-ternary;
      transform: scale(1.2);
  }

  .downarrow {
     display: flex;
     position: relative;
     top: 60%;
     z-index: 10;
     transition: all .3s ease-in;
     justify-content: center;
     align-items: baseline;
     
  }

  .downarrow:hover{
      transform: scale(1.1);
  }

  .downarrow a img{
      width: 60px;
  }


//   about me satrt
 .about-me{

    position: relative;
    top: 10%;
    height: 100vh;
    background-image: url(/assests/undraw_handcrafts_man.png);
    background-position: right;
    //    color: $color-secondary;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%;
//    background-color: #83A1E9;
 }

 .about-me div{
     position: relative;
     top: 30%;
     left:10%;
     width:60%;
     text-align: justify;
 }

#line-img{
    width: 300px;
}
 .about-me h1{
     font-size: 2em;
     letter-spacing: 6px;
     text-shadow: 1px 1px 3px $color-ternary;
      
 }

 .about-me h3{

    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px; 
    line-height: 20px; 
 }

 .about-me p{
    letter-spacing: 1.5px;
    margin-top: 10px 0px;  
    line-height: 20px;
    padding-right: 15px;
 }

.skill{
    background-color: $color-primary;
    width: auto;
    color: $color-secondary;
    padding: 3px 8px;
    // font-family: smartfont;
    border-radius: 5px;
    cursor: pointer;
    
}

.skill:hover{
    font-style: italic;
}


//  animated button
button {
    padding: 12px 25px;
    border: unset;
    border-radius: 0px;
    color: $color-secondary;
    z-index: 1;
    background: $color-ternary;
    position: relative;
    font-weight: 1000;
    letter-spacing: 2px;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    
    
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
    letter-spacing: 6px;
   }
   
   button:hover::before {
    width: 100%;
   }


//    my works start
.works{
    position: relative;
    min-height: 80vh;
    top: 50%;
    left:10%;
    width:80%;
    margin-top: 50px;
}

.works .my-works-heading{
position: relative;
right: 0;
text-align: right;
}




.works h1{
    font-size: 2em;
    letter-spacing: 6px;
    text-shadow: 1px 1px 3px $color-ternary;
    
}

.works .my-works-heading h3{
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px; 
    line-height: 20px; 
    
 }
 .my-works-heading h3 span a{
     color: $color-primary;
     transition: all .3s ease-in-out;
 }

 .my-works-heading h3 span a i:hover{
transform:  scale(1.2);
color: $color-ternary;
 }


.works>.works-conatiner{
    margin: 50px 0px;
}

.works-conatiner>.single-work{
    display: flex;
    
    
}

.project-images-container{
    overflow: hidden;
   
}

.project-images-container img{
    display: flex;
    justify-content: space-between;
    width: 50%;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // transition: img 0.3s ease-in-out;
}

.project-images-container img:hover{
    // transform: scale(1.2);
}


.project-info{
    width: 100%;
    line-height: 10px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 25px;
    // margin-left: -100px;
}
.project-info h2{
    font-size: 1.6em;
    letter-spacing: 6px;
    
}

.project-info h2 i{
    color: #83A1E9;
    font-size: 1.3em;
}

.project-info p{
    font-size: 1em;
    margin: 20px 0px;
    letter-spacing: 3px;
    
}

.project-info .icons a i{
    margin: 5px;
    color: $color-primary;
    transition: all 0.3s ease-in-out;
}

.project-info .icons i:hover{
    color: $color-ternary;
    transform: scale(1.2);
}

// ................................................
// my blogs
.blogs{
    position: relative;
    height: 80vh;
    top: 70%;
    left:10%;
    width:80%;
    margin-top: 80px;
}


.blogs h1{
    font-size: 2em;
    letter-spacing: 6px;
    text-shadow: 1px 1px 3px $color-ternary;
}


.blogs-container{
    margin: 50px 0px;
}
.single-blog {
    display: flex;
    justify-content: space-between;
}

.single-blog img{
    width: 50%;
    border: 1px solid black;
    padding: 5px;
    margin-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogs-info h2{
    font-size: 1.6em;
    letter-spacing: 6px;
}

.blogs-info p{
    font-size: 1em;
    margin: 20px 0px;
    letter-spacing: 3px;
}

// ........................................................
// contact
.contact{
    position: relative;
    height: 80vh;
    top: 70%;
    left:10%;
    width:80%;
    margin-top: 80px;
}

// #contact-container{
//     background-color: $color-primary;
//     color: $color-secondary;
//     padding: 10px;
// }

.contact h1{
    font-size: 2em;
    letter-spacing: 6px;
    text-shadow: 1px 1px 3px $color-ternary;
}


.contact .my-works-heading{
    position: relative;
    right: 0;
    text-align: right;
    }


    .contact-text{
        margin-top: 100px;
    }
    .contact-text h2{
    font-size: 1.8em;
    letter-spacing: 5px;
    }

    .contact-text p{
        margin: 25px 0px;
        letter-spacing: 3px;
    }
    
    .btn-icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-icons a i{
        font-size: 1.3em;
        letter-spacing: 5px;
        color: $color-primary;
        transition: all 0.3s ease-in-out;
    }

    .contact-icons a i:hover{
        transform: scale(1.1);
        color: $color-ternary;
    }


    // footer section

    .footer-section {
        background-image: url(/assests/footerwave.svg);
        width: 100%;
        min-height: 20vh;
        // background-color: $color-primary;
        display: grid;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 50vh;
        place-items: center;
        background-position: center;
        
    }

   .copyright p{
        position: relative;
        font-family: smartfont;
        margin-bottom: 0;
        margin-top: 150px;
        letter-spacing: 3px;
        color: $color-secondary;
        font-size: 0.8em;

    }




// media query
@media screen and (max-width: 680px){

    .about-me{
        background-image: none;
    }

    .banner-text h1{
        padding-right: 5px;
    }
    .banner-text p{
        letter-spacing: 1px;
    }
    .about-me div{
        width: 90%;
    }
    // .skills-section .skills{
    //     flex-direction: column;
    // }

    // .skills div{
    //     max-width: 100px;
    // }

    .banner, .about-me, .works, .contact{
        left: 5;
    }

    .downarrow{
        top: 55%;
    }
    .project-info{
        text-align: left;
        line-height: normal;
        
    }

    .project-info p{
        width: 100%;
        text-align: justify;
    }

    .works-conatiner>.single-work{
        flex-direction: column;
        margin-bottom: 80px;
        
    }

    .project-images-container img{
        width: 100%;
        margin-bottom: 20px;
    }

    .single-blog img{
        width: 90%;
        margin-bottom: 20px;
    }
    .single-blog {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

     .blogs-info p{
       margin: 50px 0px;
    }


    .blogs-info p{
        margin: 10px 0px;
    }


    #line-img{
        width: 220px;
    }

}